<!-- why choose our service pack -->
<section class="bg-white py-12 font-sans text-gray-800">
    <div class="max-w-6xl mx-auto px-6">

        <div class="grid grid-cols-1 md:grid-cols-2 gap-16 mb-10 border-b border-gray-100 pb-6">
            <div>
                <h2 class="text-2xl font-bold mb-6 tracking-tight">Why Choose Our Service Pack?</h2>
                <ul class="space-y-1">
                    <li class="hero-desc flex items-center gap-3">
                        <span class=" text-[var(--primary-color)] font-bold">✓</span> Complete End-to-End Support
                    </li>
                    <li class="hero-desc flex items-center gap-3">
                        <span class="text-[var(--primary-color)] font-bold">✓</span> Experienced Counselors
                    </li>
                    <li class="hero-desc flex items-center gap-3">
                        <span class="text-[var(--primary-color)] font-bold">✓</span> Transparent & Ethical Process
                    </li>
                    <li class="hero-desc flex items-center gap-3">
                        <span class="text-[var(--primary-color)] font-bold">✓</span> High Visa Success Rate
                    </li>
                </ul>
            </div>

            <div class="flex flex-col justify-center items-start md:items-center border-l-0 md:border-l border-gray-100 md:pl-16">
                <span class="text-xs font-bold uppercase tracking-widest text-gray-400 mb-2">Contact Us</span>
                <h3 class="text-xl font-semibold mb-1">Book Free Consultation</h3>
                <p class="text-gray-500 mb-6 italic">Talk to an Expert Counselor</p>
                <a href="get-started.html" class="group flex items-center justify-between gap-4 pl-4 pr-2 py-1 bg-white border border-gray-200 rounded-full hover:bg-[var(--primary-color)] transition-all duration-300">

                    <span class="text-gray-600 text-[16px] font-semibold group-hover:text-gray-50">
Get Started        </span>

                    <div class="flex items-center justify-center w-8 h-8 bg-[var(--primary-color)] rounded-full text-white transition-transform duration-300 group-hover:bg-gray-50 group-hover:text-gray-600">
                        <i class="fa-solid fa-arrow-right text-xs"></i>
                    </div>
                </a>
            </div>
        </div>

        <!-- <div class="">
                <div class="mb-10 text-center">
                    <h2 class="text-2xl font-bold uppercase tracking-widest font-inter">Our Process</h2>
                    <p class="text-gray-500 text-sm mt-1">Your Study Abroad Journey</p>
                </div>

                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-6 gap-4">
                    <div class="border rounded-md border-gray-200 p-5 text-center transition-colors hover:border-[var(--primary-color)] group">
                        <span class="block text-gray-300 font-bold mb-2 group-hover:border-[var(--primary-color)] duration-400">01</span>
                        <p class="text-sm font-bold text-gray-600">Free Counseling</p>
                    </div>
                    <div class="border rounded-md border-gray-200 p-5 text-center transition-colors hover:border-[var(--primary-color)] group">
                        <span class="block text-gray-300 font-bold mb-2 group-hover:border-[var(--primary-color)] duration-400">02</span>
                        <p class="text-sm font-bold text-gray-600">University Selection</p>
                    </div>
                    <div class="border rounded-md border-gray-200 p-5 text-center transition-colors hover:border-[var(--primary-color)] group">
                        <span class="block text-gray-300 font-bold mb-2 group-hover:border-[var(--primary-color)] duration-400">03</span>
                        <p class="text-sm font-bold text-gray-600">Application Submission</p>
                    </div>
                    <div class="border rounded-md border-gray-200 p-5 text-center transition-colors hover:border-[var(--primary-color)] group">
                        <span class="block text-gray-300 font-bold mb-2 group-hover:border-[var(--primary-color)] duration-400">04</span>
                        <p class="text-sm font-bold text-gray-600">Offer Letter</p>
                    </div>
                    <div class="border rounded-md border-gray-200 p-5 text-center transition-colors hover:border-[var(--primary-color)] group">
                        <span class="block text-gray-300 font-bold mb-2 group-hover:border-[var(--primary-color)] duration-400">05</span>
                        <p class="text-sm font-bold text-gray-600">Visa Processing</p>
                    </div>
                    <div class="border rounded-md border-gray-200 p-5 text-center transition-colors hover:border-[var(--primary-color)] group">
                        <span class="block text-gray-300 font-bold mb-2 group-hover:border-[var(--primary-color)] duration-400">06</span>
                        <p class="text-sm font-bold text-gray-600">Departure Support</p>
                    </div>
                </div>
            </div> -->



    </div>
</section>