.hero-slide {
    opacity: 0;
    position: absolute;
    inset: 0;
    transition: opacity 1s ease-in-out;
    pointer-events: none;
    z-index: 1;
}

.hero-slide.active {
    opacity: 1;
    position: relative;
    pointer-events: auto;
    z-index: 2;
}

.hero-slide.active img {
    transform: scale(1.05);
}

.carousel-dot.active {
    width: 2rem;
    /* 32px */
    background-color: #2563eb;
    /* blue-600 */
}

.bg-icon {
    animation: float 20s ease-in-out infinite;
}

@keyframes float {
    0%,
    100% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-20px) rotate(5deg);
    }
}